.nav-link {
    transition: border-bottom 0.3s ease-in-out; /* Define transition for border-bottom property */
  }
  /* styles.css */
.container-animation {
    transition: opacity 0.3s ease-in-out; /* Define transition for opacity property */
  }
  
.container-hidden {
    opacity: 0; /* Hide the container by setting opacity to 0 */
  }
.theme{
    background-color: #141A35;
}
.button{
    padding-right: 20%;
}  

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #ffc107;
}
.border-bottom {
    border-bottom: var(--bs-border-width) var(--bs-border-style) #ffc107!important;
}.border-top {
    border-top: var(--bs-border-width) var(--bs-border-style) #ffc107!important;
}
/* chat.css */
.text-dark.active, 
.text-dark:active, 
.text-dark:focus, 
.text-dark:hover{
  background-color: white;
  color: black;
}
.list-group-item {
    border: var(--bs-list-group-border-width) solid #443e2a;
}

  .navbar-custom {
    min-height: 63px; /* Adjust the height as needed */

  }

  .card-container{
    border-radius: 0;
  }
  .IoIosArrowRoundBack{
    height: 4em;
    width: 4em;
  }
  .messages-container {
    overflow-y: scroll;
  }
  
  .messages-container::-webkit-scrollbar {
    
    width: 1.5px; /* Width of the scrollbar */
  }
  
  .messages-container::-webkit-scrollbar-track {
    background: #f1f1f100; /* Track color */
  }
  
  .messages-container::-webkit-scrollbar-thumb {
    background: #e1e1e1; /* Thumb color */
    border-radius: 6px; /* Rounded corners */
  }
  
  .messages-container::-webkit-scrollbar-thumb:hover {
    background: #e4e4e4; /* Thumb color on hover */
  }



.btn-back{
  background-color: #141A35;
  color: white;
  border-radius: 10vh;
}
.btn-back:hover{
  background-color: white;
  color: black;
}
  
.send{
  background-color: #ffc107;
  color:#141A35;
}
.send:hover{
  background-color: #141A35;
  color: #ffc107;
}


.mentor{
  padding: 8px 12px;
  margin: 4px;
  border-radius: 10px;
  display: flex;
  max-width: 70%;
  background-color: #e6e6e6;
  color: #000;
}

.student{
  padding: 8px 12px;
  margin: 4px;
  max-width: 70%;
  border-radius: 10px;
  display: flex;
  background-color: #007bff;
  color: #fff;


}
.inputBlock{
  border-radius: 8vh;
  min-height: 7vh;
  padding-left: 1vh;
  padding-right: 1vh;
  padding-bottom: 0vh;
  margin-top: 2vh;

}
.justify-content-flex-start {
  justify-content: flex-start;
}

.justify-content-flex-end {
  justify-content: flex-end;
}
.fit-content{
  padding: 0;
  margin: 0;
}
